<h2>Editing Book</h2>
<% if @book.errors.any? %>
	<%= pluralize(@book.errors.count,"error") %>
    <div class = "alert alert-warning">
        <ul>
            <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
	<%= form_for(@book) do |b| %>
		<div class = "form-group">

			<div class="field">
		    	<label for="user_name">Title</label>
		    	<%= b.text_field :title %>
		    </div>

			<div class="field">
		    	<label for="user_name">Opinion</label>
		    	<%= b.text_field :body %>
		    </div>
		    <div class="field">
		    	<%= b.submit "Update Book" %>
		    </div>

		</div>
	<% end %>
		<div class = "link-group">
			<%= link_to "Show", @book %>
			|
			<%= link_to "Back", books_path %>
		</div>

