<h2>Editing Book</h2>
	<%= form_for(@book) do |b| %>
		<div class = "form-group">

			<div class="field">
		    	<label for="user_name">Title</label>
		    	<%= b.text_field :title %>
		    </div>

			<div class="field">
		    	<label for="user_name">Opinion</label>
		    	<%= b.text_field :body %>
		    </div>
		    <div class="field">
		    	<%= b.submit "Update Book" %>
		    </div>

		</div>
	<% end %>
		<div class = "link-group">
			<%= link_to "Show", :back %>
			|
			<%= link_to "Back", books_path %>
		</div>

