<div class="container">
<%= render 'books/profile' , user: @book.user %>
<%= render 'books/posts', book: @post_book %>

<div class ="table">Book detail</div>
	<tbody>
	 	<tr>
		 	<tb><%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, fallback: "no_image.png" ,size: '40x40' %></tb>
		 	<tb><%= @book.title %></tb>
		 	<tb><%= @book.body %></tb>
		 	<% if @book.user == current_user %>
		 	<tb><%= link_to 'Edit', edit_book_path(@book),class: 'btn btn-default' %></tb>
		 	<tb><%= link_to 'Destroy', book_path(@book), method: :delete ,data: { confirm: '本当に消しますか？？' }, class: 'btn btn-default' %></tb>
		 	<% end %>
		 </tr>
	</tbody>
	<%= link_to @post_user.name, user_path(@post_user) %>
</div>